/* General styles */

*{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f1f1f;
  color: #fff;
}


/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
}

#navbar header {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid blue;
}

.nav-link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 2em;
}

.nav-link:hover {
  color: #bbb;
  font-size: 20px;
  text-decoration: underline;
}

/* content section */
#main-doc {
  flex: 1;
  margin-left: 230px;
  padding: 20px;
}

header {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(204, 204, 204, 0.4);
}

section {
  margin-bottom: 40px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

code {
  display: block;
  white-space: pre-wrap;
  background-color: #222;
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 30px;
  color: #ddd;
}

a{
  text-decoration: none;
  color:lightgreen;
}

a:hover{
  text-decoration: underline;
  font-size: 19px;
}
