/* Importing font URLs */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
#nav-bar {
    background-color: #858585;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: auto;
    align-items: center;
}

/* Logo styles */
.logo {
    flex: 1;
}

#header-img {
    height: 50px;
}

/* Navigation links styles */

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover,
.footer ul li > a:hover {
    background-color: #ff0000;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li{
    margin-bottom: 4px;
}

/* Product section styles */
#Product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    background-color: #ccc;
    margin-top: 3rem;
}

.product-text {
    padding-right: 50px;
    word-break: break-word;
    white-space:normal;
}

.mc-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.mc-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 900;
}

.mc-description {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

/* Form styles */
.email-submit {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-submit > * {
    margin: 5px 0;
}

.email-input, .email-submit-button {
    border: 2px solid #060606;
}

.email-input {
    border-radius: 5px;
    padding: 0.5em;
    width: 60%;
}

.email-submit > .button {
    width: 90px;
}

.button {
    background-color: #19981d;
    color: black;
    border: 2px solid #060606;
    text-transform: uppercase;
    font-weight: bold;
    align-self: flex-start;
    height: 45px;
    padding: 0.8em;
    word-wrap: break-word;
}

.button:hover {
    cursor: pointer;
    transition: 0.1s;
    background-color: #5E7B2A;
}

.button:active {
    transition: 0.05s;
    background-color: #3F531C;
    color: white;
}

/* blockquote */
.quote{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    font-size: 2rem;
    background-color: #f0f0f0;
}

/* Product image styles */
.product-image img {
    max-width: 90%;
    height: auto;
}

/* Features section styles */
#Features {
    display: flex;
    align-items: center;
    padding: 50px;
}

.features-text {
    flex: 1;
    padding-right: 50px;
}

.arc-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.arc-chars li {
    margin-bottom: 20px;
}

/* Features image styles */
.features-image img {
    max-width: 100%;
    height: auto;
}

/* Specs section styles */
#Specs {
    padding: 50px;
    background-color: #f0f0f0;
}

.specs h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.specs-table {
    margin: 20px auto;
    margin-bottom: 3.5rem;
}

.table-wrapper {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}

.table-wrapper a {
    margin: 20px 0;
    display: block;
    font-weight: bold;
    color: #ff6a00;
    align-self: center;
    text-decoration: none;
}

.spec-container {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

.spec-char {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    border-top: 2px solid black;
    width:70% ;
}

.spec-value {
    font-size: 1rem;
    text-align: right;
    border-top: 2px solid #008aaa;
    color: #008aaa;
}

/* Shop section styles */
#ytVid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    background-color: #ccc;
}

.yt-vid h2{
    font-size: 2.5rem;
}

.yt-vid-description > * {
    margin: 20px 0;
}

.yt-vid-description h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.yt-vid-description h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Footer styles */
.footer {
    background-color: #000;
    color: white;
    padding: 20px 25px;
    font-size: 1rem;
    text-align: center;
}


.footer > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 10px;
}

.footer ul > li {
    font-size: 0.7rem;
}

.footer ul > li::before {
    content: " | ";
    margin: 0 5px;
}

.footer ul li > a {
    color: #E9E9E9;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* Media queries */
@media (max-width: 768px) {
    /* Adjust styles for smaller devices */
    ul {
        align-items: flex-start;
    }

    .nav-link {
        margin: 10px 6px;
    }

    #Product {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .product-text {
        padding-right: 0;
    }

    .product-image {
        margin-top: 20px;
    }

    .mc-title{
        font-size: 2.9rem;
    }

    #Features {
        flex-direction: column;
        text-align: center;
    }
    
    .features-text {
        flex: 1;
        padding-right: unset;
    }

    .features-image {
        margin-top: 20px;
    }

    .specs-table {
        margin-top: 20px;
    }

    .yt-vid-video iframe {
        height: auto;
        width: 280px;
    }

    .footer > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer > p{
        text-align: center;
    }
}

@media (max-width: 360px) {
    .nav-link {
        margin: 10px 4px 10px 2px;
    }

    .mc-title{
        font-size: 1.9rem;
    }
    
    .arc-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .yt-vid-video iframe {
        width: 200px;
    }
}